<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Website tin tức nhóm 6</title>
   
    <link rel="icon" type="image/x-icon" href="/assets/client/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="/https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/client/css/styles.css" rel="stylesheet" />

    <style>
        ..pagination {
            display: inline-block;
        }

        .pagination li > a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

            .pagination li > a.active {
                background-color: #4CAF50;
                color: white;
            }

            .pagination li > a:hover:not(.active) {
                background-color: #ddd;
            }
    </style>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-5 px-lg-5">
            <a class="navbar-brand" href="/">WebSite Nhóm 6</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            @{Html.RenderAction("MainMenu", "Home");}
        </div>
    </nav>
    <!-- Page Header-->
    @RenderSection("headerIndex",required:false)
    @RenderSection("headerCon",required:false)
    <!-- Category-->
    <div class="container">
        <ul class="list-group list-group-horizontal d-flex justify-content-center" style="padding-bottom:50px !important;">
            @{Html.RenderAction("DanhMuc", "Home");}
        </ul>



    </div>

    <!-- End Category-->
    <!-- Main Content-->
    @RenderBody()
    <!-- Footer-->
    @{Html.RenderAction("Footer", "Home");}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/assets/client/js/scripts.js"></script>
</body>
</html>

