@model List<Model.EF.Menu>

<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-3 py-lg-0">
        
        @foreach (var item in Model)
        {
            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@item.Link" target="@item.Target">@item.Text</a></li>
        }
    </ul>
</div>
