@model PagedList.IPagedList<Model.EF.NewsCategory>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách danh mục tin tức
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách tin tức</h6>
    </div>
    <button type="button" class="btn btn-warning"><a href="/Admin/NewsCategory/Create"> Thêm danh mục</a></button>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                @using (Html.BeginForm("Index", "NewsCategory", FormMethod.Get))
                {
                    <div class="row">

                        <div class="col-md-4">
                            <input type="text" value="@ViewBag.SearchString" name="searchString" />

                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                        </div>

                    </div>
                }
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">ID</th>
                                <th rowspan="1" colspan="1">Tên danh mục</th>
                                <th rowspan="1" colspan="1">Trạng thái</th>
                                <th rowspan="1" colspan="1">#</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="odd">
                                    <td class="sorting_1">@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@((bool)item.Status ? "Hoạt Động": "Bị Khóa")</td>
                                    <td id="row_@item.ID">
                                        <a href="/Admin/NewsCategory/Edit/@item.ID">Sửa</a>||
                                        <a href="/Admin/NewsCategory/Delete/@item.ID">Xóa</a>
                                    </td>
                                </tr>

                            }


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
